body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  color: #282c34;
  max-width: fit-content;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.btn:hover {
  color: #E3D3CB;
  background-color: #6a5acd;
}
