:root {
  --darkText: #E3D3CB;
  --darkBorder: #6a5acd;
  --darkBg: #282c34;

  --lightText: #282c34;
  --lightBorder: #282c34;
  --lightBg: #E3D3CB;
  --lightBtnBg: #6a5acd;
  --lightBtnText: #E3D3CB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
}

.app-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-container,
.app-container-light {
  background-color: var(--darkBg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list {
  display: flex;
  justify-content: space-around;
}

.link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content,
.content-light {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem;
  border: 0.5rem solid var(--darkBorder);
  border-radius: 2rem;
  max-width: 80vw;
}

.btn {
  color: #282c34;
  max-width: fit-content;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.capitalize {
  text-transform: capitalize;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card,
.card-light {
  border: 0.25rem solid var(--darkBorder);
  border-radius: 2rem;
  width: min-content;
  padding: 2rem;
  margin: 0.5rem;
}

.input-container {
  margin: 0.5rem;
  padding: 0.5rem;
}

input[type="checkbox"] {
  margin-left: 1rem;
  transform: scale(1.5);
}

.app-container-light {
  color: var(--lightText);
  background-color: var(--lightBg);
}

.content-light,
.card-light {
  border-color: var(--lightBorder);
}

.btn-light {
  background-color: var(--lightBtnBg);
  color: var(--lightBtnText);
}
